#cat{
    color: blue;
}
#bat{
    color: aquamarine;
}
.a{
    color: green;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
}
.b {
    color: orangered;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    font-size: 15px;
}

